#logo {
    width: 180px;
    height: auto;
    float: left;
}
nav {
    float: left;
    margin-left: 30px;
}
ul {
    list-style : none;
}
.img1 {
  width: 250px;
  margin-top: 150px;
  margin-right: 400px;
  float: left;
}
.main {
    width: 80%; 
    margin: 50px; 
}

.Laptop-Details {
    width: 650px; 
    float: left; 
    margin-right: 20px;  
}

.specs {
    font-size: 24px;
    line-height: 1.5;    
}
.img2 {
  width: 250px;
}
ul {
    list-style: none;
    text-align: center; 
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 10px; 
}

ul li img {
    width: 200px; 
    height: auto;
}
.img3 {
  width: 250px;
}
.img4 {
  width: 250px;
}
.img5 {
  width: 250px;
}
.img6 {
  width: 250px;
}
.img7 {
  width: 250px;
}
.img8 {
  width: 250px;
}
.img9 {
  width: 250px;
}
.img10 {
  width: 250px;
}
.img11 {
  width: 250px;
}
.img12 {
  width: 250px;
}
.img13 {
  width: 250px;
}
.img14 {
  width: 250px;
}
.img15 {
  width: 250px;
}
.img16 {
  width: 250px;
}
.img17 {
  width: 250px;
}
.img18 {
  width: 250px;
}
.img19 {
  width: 250px;
}
.img20 {
  width: 250px;
}
.img21 {
  width: 250px;
}
.img22 {
  width: 250px;
}
.img23 {
  width: 250px;
}
.img24 {
  width: 250px;
}
.img25 {
  width: 250px;
}
.img26 {
  width: 250px;
}
.img27 {
  width: 250px;
}
.img28 {
  width: 250px;
}
.img29 {
  width: 250px;
}
.img30 {
  width: 250px;
}
.img31 {
  width: 250px;
}
.img32 {
  width: 250px;
}
.img33 {
  width: 250px;
}
.img34 {
  width: 250px;
}

