#logo {
    width: 180px;
    height: auto;
    float: left;
}
nav {
    float: left;
    margin-left: 30px;
}
ul {
    list-style : none;
}
.img1 {
  width: 250px;
  margin-top: 150px;
  margin-right: 400px;
}
.main {
    width: 80%; 
    margin: 50px; 
}

.Laptop-Details {
    width: 650px; 
    float: left; 
    margin-right: 20px;  
}

.specs {
    font-size: 24px;
    line-height: 1.5;    
}


